{# empty Twig template #}


<table>
{% for a in rubrique %}
    <tr>
	<!--  <td>{#{a.id}#}</td> 
          <td><b>No  </b>{#{ a.position}}</td>
          {#% if a.state == 1 %#}
          <td><b>access</b></td>
          {#%  else    %#}
          <td><b>denied</b></td>
          {#% endif  %#} -->
          <td>{{ a.title}}</td>
       <!--   <td><b>No  </b>{#{ a.menu.id}#}</td>     -->  
{#% else %#}
   <!--  <tr>
	<td>Aucun rubrique n'a été trouvé.</td>
    </tr>   -->  
{% endfor %}
</table>
