<table>
{% for a in article %}
{% endfor %}
 
        
 {% for b in rubrique %}	 
{% endfor %}   
    
    
 {% for a in actualite %}
{% endfor %}
 
        
 {% for s in sousrubrique %}	 
{% endfor %} 
    
{% for m in menu %}
{% endfor %}
 
        
 {% for r in role %}	 
{% endfor %} 
    
</table>